# Ignora arquivos PDF da análise de linguagens
*.pdf linguist-generated=true

# Ignora arquivos binários 
*.exe linguist-generated=true
*.so linguist-generated=true
*.dll linguist-generated=true
*.zip linguist-generated=true
*.rar linguist-generated=true
*.7z linguist-generated=true
*.jar linguist-generated=true

# Ignora arquivos binários de suites Office
*.odt linguist-generated=true
*.ods linguist-generated=true
*.odp linguist-generated=true
*.doc linguist-generated=true
*.docx linguist-generated=true
*.xls linguist-generated=true
*.xlsx linguist-generated=true
*.ppt linguist-generated=true
*.pptx linguist-generated=true